@page "/"
@page "/cardlist"
@layout MainLayout
@attribute [Authorize(Roles = "Admin")]

@if (Cards.Count != 0)
{
    <MudBreadcrumbs Items="BreadCrumItems"></MudBreadcrumbs>
    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Account List</MudText>
    <MudCard Elevation="0">
        <MudCardContent>
            <MudContainer>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="12">
                        <MudTable Items="Cards" Breakpoint="Breakpoint.Md" Hover="true" Striped="true" Bordered="true" RowsPerPage=100 Filter="new Func<MstCard,bool>(FilterFuncCards)" @bind-SelectedItem="SelectedItem">
                            <ToolBarContent>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" OnClick="SendtoAddCard" />
                                <MudSpacer />
                                <MudTextField @bind-Value="SearchValue" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Type</MudTh>
                                <MudTh>Name</MudTh>
                                <MudTh>User code</MudTh>
                                <MudTh>Password</MudTh>
                                <MudTh>Email</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Type">@context.CardName</MudTd>
                                <MudTd DataLabel="Name">@context.Alias </MudTd>
                                <MudTd DataLabel="User code">
                                    <div class="d-flex flex-nowrap" style="align-items: center;">
                                        <MudIconButton Icon="@Icons.Material.Filled.ContentCopy" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="@(()=>CopyUser(context.UserCode))" Style="margin-right: 10px;" />
                                        @context.UserCode
                                    </div>
                                </MudTd>
                                <MudTd DataLabel="Password">
                                    <div class="d-flex flex-nowrap" style="align-items: center;">
                                        <MudIconButton Icon="@Icons.Material.Filled.ContentCopy" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="@(()=>CopyPassword(context.Password))" Style="margin-right: 10px;" />
                                        @context.Password
                                    </div>
                                </MudTd>
                                <MudTd DataLabel="Email">@context.Email</MudTd>
                                <MudTd DataLabel="Actions">
                                    <div class="d-flex flex-nowrap">
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="(()=>OpenDialogEdit(context.Id))" />
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="(()=>OpenDialogDelete(context))" Style="margin-left: 10px;" />
                                    </div>
                                </MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <MudSpacer />
                                <MudTablePager HorizontalAlignment="HorizontalAlignment.Right" RowsPerPageString="Rows per page:"></MudTablePager>
                            </PagerContent>
                        </MudTable>
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </MudCardContent>
    </MudCard>
}
else
{
    <div class="CenterLoader">
        <MudProgressCircular Color="Color.Primary" Class="MudLoader" Indeterminate="true" />
    </div>
}

<style>

    .btnSave {
        margin-left: 30px;
        width: 100px;
    }

    .btnCancel {
        margin-left: 15px;
        width: 100px;
    }

    .CenterLoader {
        display: flex;
        height: 700px;
        width: 100%;
        justify-content: center;
        justify-items: center;
    }

    .MudLoader {
        justify-content: center;
        height: 100px;
        width: 100px;
        margin: auto;
    }
</style>    