@page "/editcard"
@page "/editcard/{Id:int}"
@layout MainLayout

@if (oModel.Id > 0)
{
    <MudBreadcrumbs Items="BreadCrumItems"></MudBreadcrumbs>
    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Card Details</MudText>
    <MudCard Elevation="0">
        <MudCardContent>
            <MudContainer>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="oModel.CardName" Label="Type" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="oModel.Alias" Label="Name" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="oModel.UserCode" Label="User Code" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="oModel.Password" Label="Password" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Password" OnAdornmentClick="GeneratePassword"/>
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="oModel.Email" Label="Email" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="oModel.WebLink" Label="Web Link" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="12" md="12">
                        <MudTextField @bind-Value="oModel.Remarks" Label="Remarks" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" Lines="4" />
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="btnSave" OnClick="SaveCard">Save</MudButton>

            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="btnCancel" OnClick="CancelCard">Cancel</MudButton>
        </MudCardActions>
    </MudCard>
}
else
{
    <div class="CenterLoader">
        <MudProgressCircular Color="Color.Primary" Class="MudLoader" Indeterminate="true" />
    </div>
}

<style>

    .btnSave {
        margin-left: 30px;
        width:100px;
    }

    .btnCancel {
        margin-left: 15px;
        width:100px;
    }

    .CenterLoader {
        display: flex;
        height: 700px;
        width: 100%;
        justify-content: center;
        justify-items: center;
    }

    .MudLoader {
        justify-content: center;
        height: 100px;
        width: 100px;
        margin: auto;
    }
</style>                 