@page "/login"
@layout LoginLayout

<EditForm Model="@Model" OnValidSubmit="CheckLogin" class="login-form">
    <DataAnnotationsValidator />

    <div class="login-header">
        <img src="images/ansaarsoftlogo.png"
             alt="Ansaar Soft logo"
             class="login-logo" />

        <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">
            Sign in
        </MudText>

        <MudText Align="Align.Center" Color="Color.Secondary" Typo="Typo.body2">
            Welcome to Password Management System
        </MudText>
    </div>

    <MudTextField T="string"
                  @bind-Value="Model.UserCode"
                  For="@(() => Model.UserCode)"
                  Label="User code"
                  Variant="Variant.Outlined"
                  Adornment="Adornment.Start"
                  AdornmentIcon="@Icons.Material.Filled.Person"
                  AutoFocus="true"
                  Required="true"
                  RequiredError="User code is required."
                  Disabled="@IsSigningIn"
                  autocomplete="username"
                  Class="mt-5" />

    <MudTextField T="string"
                  @bind-Value="Model.Password"
                  For="@(() => Model.Password)"
                  Label="Password"
                  Variant="Variant.Outlined"
                  InputType="@PasswordInput"
                  Adornment="Adornment.End"
                  AdornmentIcon="@PasswordInputIcon"
                  AdornmentAriaLabel="@(PasswordVisibility ? "Hide password" : "Show password")"
                  OnAdornmentClick="TogglePasswordVisibility"
                  Required="true"
                  RequiredError="Password is required."
                  Disabled="@IsSigningIn"
                  autocomplete="current-password"
                  Class="mt-4" />

    <MudCheckBox T="bool"
                 @bind-Checked="RememberMe"
                 Label="Remember me"
                 Color="Color.Primary"
                 Disabled="@IsSigningIn"
                 Class="my-3" />

    <MudButton ButtonType="ButtonType.Submit"
               Variant="Variant.Filled"
               Color="Color.Primary"
               Size="Size.Large"
               FullWidth="true"
               Disabled="@IsSigningIn">
        @if (IsSigningIn)
        {
            <MudProgressCircular Class="me-2" Size="Size.Small" Indeterminate="true" />
            <span>Signing in…</span>
        }
        else
        {
            <span>Sign in</span>
        }
    </MudButton>

    <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Secondary" Class="mt-4">
        Need access? Contact the administrator.
    </MudText>
</EditForm>
